In [1]:
#Importing necessary libraries:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import matplotlib.pyplot as plt

from scipy.stats import ttest_1samp, ttest_ind, ttest_rel
from statistics import mean, stdev
from scipy.stats import norm
%matplotlib inline

## Problem 3:

### The breaking strength of gunny bags used for packaging cement is normally distributed with a mean of 5 kg per sq. centimeter and a standard deviation of 1.5 kg per sq. centimeter. The quality team of the cement company wants to know the following about the packaging material to better understand wastage or pilferage within the supply chain; Answer the questions below based on the given information; (Provide an appropriate visual representation of your answers, without which marks will be deducted)

#### #The breaking strength of gunny bags used for packaging cement is normally distributed with Î¼ = 5 and Sigma = 1.5.

In [ ]:
mu = 5
sigma = 1.5

#### 3.1 What proportion of the gunny bags have a breaking strength less than 3.17 kg per sq cm?

In [ ]:
z1 = (3.17-5)/1.5

In [ ]:
print('#The proportion of the gunny bags have a breaking strength less than 3.17 kg./sq. cm. is :',stats.norm.cdf(z1))

In [ ]:
x1 = 3.17
x2 = 11
x_2 = np.arange(x2,11, 0.001) # range of x in spec
x_1 = np.arange(-1,x1, 0.001)
x_all = np.arange(-1,11, 0.001) # entire range of x, both in and out of spec
y_1 = norm.pdf(x_1,mu,sigma)
y_2 = norm.pdf(x_2,mu,sigma)
y_all = norm.pdf(x_all,mu,sigma)

# build the plot
fig, ax = plt.subplots(figsize=(9,6))
ax.plot(x_all,y_all)
ax.fill_between(x_1,y_1,0, alpha=0.5, color='b')
ax.fill_between(x_2,y_2,0, alpha=0.5, color='b')
ax.fill_between(x_all,y_all,0, alpha=0.1)
ax.set_xlim([-1,11])
ax.set_xlabel(' breaking strength less than 3.17 kg per sq cm')
ax.set_yticklabels([])
ax.set_title('Normal Gaussian Curve')
plt.show()

#### 3.2 What proportion of the gunny bags have a breaking strength at least 3.6 kg per sq cm.?

In [ ]:
z2 = (3.6-5)/1.5

In [ ]:
print('#The proportion of the gunny bags have a breaking strength at least 3.6 kg./sq. cm. is :',1-stats.norm.cdf(z2))

In [ ]:
x1 = 3.6
x2 = 11
x_2 = np.arange(x2,11, 0.001) # range of x in spec
x_1 = np.arange(-1,x1, 0.001)
x_all = np.arange(-1,11, 0.001) # entire range of x, both in and out of spec
y_1 = norm.pdf(x_1,mu,sigma)
y_2 = norm.pdf(x_2,mu,sigma)
y_all = norm.pdf(x_all,mu,sigma)

# build the plot
fig, ax = plt.subplots(figsize=(9,6))
ax.plot(x_all,y_all)
ax.fill_between(x_1,y_1,0, alpha=0.5, color='b')
ax.fill_between(x_2,y_2,0, alpha=0.5, color='b')
ax.fill_between(x_all,y_all,0, alpha=0.1)
ax.set_xlim([-1,11])
ax.set_xlabel(' breaking strength less than 3.6 kg per sq cm')
ax.set_yticklabels([])
ax.set_title('Normal Gaussian Curve')
plt.show()

#### 3.3 What proportion of the gunny bags have a breaking strength between 5 and 5.5 kg per sq cm.?

In [ ]:
z3 = (5-5)/1.5
z4 = (5.5-5)/1.5

In [ ]:
cdf_value=(stats.norm.cdf(z4)-stats.norm.cdf(z3))
print('#The proportion of the gunny bags have a breaking strength between 5 and 5.5 kg./sq. cm. is :',cdf_value)

In [ ]:
x1 = 5
x2 = 5.5
x_2 = np.arange(x2,11, 0.001) # range of x in spec
x_1 = np.arange(-1,x1, 0.001)
x_all = np.arange(-1,11, 0.001) # entire range of x, both in and out of spec
y_1 = norm.pdf(x_1,mu,sigma)
y_2 = norm.pdf(x_2,mu,sigma)
y_all = norm.pdf(x_all,mu,sigma)

# build the plot
fig, ax = plt.subplots(figsize=(9,6))
ax.plot(x_all,y_all)
ax.fill_between(x_1,y_1,0, alpha=0.5, color='b')
ax.fill_between(x_2,y_2,0, alpha=0.5, color='b')
ax.fill_between(x_all,y_all,0, alpha=0.1)
ax.set_xlim([-1,11])
ax.set_xlabel(' breaking strength between 5 and 5.5 kg per sq cm.')
ax.set_yticklabels([])
ax.set_title('Normal Gaussian Curve')
plt.show()

#### 3.4 What proportion of the gunny bags have a breaking strength NOT between 3 and 7.5 kg per sq cm.?

In [ ]:
z5 = (3-5)/1.5
z6 = (7.5-5)/1.5

In [ ]:
cdf_value1=(1-(stats.norm.cdf(z6)-stats.norm.cdf(z5)))
print('#The proportion of the gunny bags have a breaking strength NOT between 3 and 7.5 kg./sq. cm. is :',cdf_value1)

In [ ]:
x1 = 3
x2 = 7.5
x_2 = np.arange(x2,11, 0.001) # range of x in spec
x_1 = np.arange(-1,x1, 0.001)
x_all = np.arange(-1,11, 0.001) # entire range of x, both in and out of spec
y_1 = norm.pdf(x_1,mu,sigma)
y_2 = norm.pdf(x_2,mu,sigma)
y_all = norm.pdf(x_all,mu,sigma)

# build the plot
fig, ax = plt.subplots(figsize=(9,6))
ax.plot(x_all,y_all)
ax.fill_between(x_1,y_1,0, alpha=0.5, color='b')
ax.fill_between(x_2,y_2,0, alpha=0.5, color='b')
ax.fill_between(x_all,y_all,0, alpha=0.1)
ax.set_xlim([-1,11])
ax.set_xlabel('breaking strength of gunny bags in kg per cm')
ax.set_yticklabels([])
ax.set_title('Normal Gaussian Curve')
plt.savefig('normal_curve.png', dpi=72, bbox_inches='tight')
plt.show()

## Problem 4:
### Grades of the final examination in a training course are found to be normally distributed, with a mean of 77 and a standard deviation of 8.5. Based on the given information answer the questions below.

#### 4.1 What is the probability that a randomly chosen student gets a grade below 85 on this exam?

In [ ]:
#Calculating the z-score value:
z = (85-77)/8.5
print('Z-score value :',z)

In [ ]:
print('#The probability that a randomly chosen student gets a grade below 85 on this exam is :',stats.norm.cdf(z))

#### 4.2 What is the probability that a randomly selected student scores between 65 and 87?

In [ ]:
#Calculating the z-score value:
z1 = (65-77)/8.5
z2 = (87-77)/8.5
print('Z-score values are :',z1, 'and', z2)

In [ ]:
cdf_val=stats.norm.cdf(z2)-stats.norm.cdf(z1)
print('#The probability that a randomly selected student scores between 65 and 87 is :',cdf_val)

#### 4.3 What should be the passing cut-off so that 75% of the students clear the exam?

In [ ]:
mean = 77
sd = 8.5
print('#The passing cut-off should be',stats.norm.ppf(0.75,mean,sd),'so that 75% of the students could clear the exam.')

## Problem 5:
### Zingaro stone printing is a company that specializes in printing images or patterns on polished or unpolished stones. However, for the optimum level of printing of the image the stone surface has to have a Brinell's hardness index of at least 150. Recently, Zingaro has received a batch of polished and unpolished stones from its clients. Use the data provided to answer the following (assuming a 5% significance level);

In [ ]:
#Load the Zingaro CSV data to notebook :
df_Zingaro = pd.read_csv('Zingaro_Company.csv')

In [ ]:
#Basic View of the Data-set :
df_Zingaro.head()

In [ ]:
df_Zingaro.describe().T

#### 5.1 Earlier experience of Zingaro with this particular client is favorable as the stone surface was found to be of adequate hardness. However, Zingaro has reason to believe now that the unpolished stones may not be suitable for printing. Do you think Zingaro is justified in thinking so?

##### #From earlier experience Zingaro assumes that the unpolished stone is not suitable for printing. that means For printing in stone Brinell's hardness index should be atleast 150. 

Here we need to test the hardness of unpolished stone. As per Zingaros believe unpolished stones may not be suitable for printing, so we can  formulate the hypothesis as, null hypothesis states that the mean hardness of 'Unpolished stones' is more than 150 or same, and the alternative hypothesis states that the mean hardness of 'Unpolished stones' is less than 150.

Null hypothesis(H0) : Î¼ >= 150

Alternative Hypothesis(HA) : Î¼ < 150

In [ ]:
print('#Here we have a sample size(n) of :',df_Zingaro.shape[0])

#### #As we have a data set having sample size is more than '30' we can proceed further with 'Z-test', again this test only concerned about a single population we should go for 'One tailed Z-test '.

#### ##This will be a 'Left-tailed Z-test', as we need to conduct the test to the for the values which is less than Brinell's hardness index.

#### ###The formula to get the T-Statistics is as follows :(x_bar - mu)/(sigma/np.sqrt(n))

In [ ]:
print('#The Mean(x_bar) value for Unploished column is :',df_Zingaro['Unpolished '].mean())

In [ ]:
print('#The Standard deviation(Ï) for Unploished column is :',df_Zingaro['Unpolished '].std())

In [ ]:
test_stat = (134.110527 - 150)/(33.041804/np.sqrt(75))
print('The Test-statistics is :',test_stat)

In [ ]:
x = np.linspace(-8,8,100)
plt.plot(x,norm.pdf(x,0,1))
plt.axvline(x=test_stat, c='r')
plt.show()

#### As Zingaro din't specified the significance value( Î± ), so we can consider Î± = 0.05

In [ ]:
Critical_val = norm.ppf(.05)
print('The Critical value is :',Critical_val)

In [ ]:
x = np.linspace(-8,8,100)
plt.plot(x,norm.pdf(x,0,1))
plt.axvline(x=test_stat, c='r')
plt.axvline(x=Critical_val, c='r')
x1=np.linspace(Critical_val, 5, 50)
#plt.fill_between(x1,norm.pdf(x1,0,1),color='r')
plt.annotate('Do not Reject Null Hypothesis.',(0,0.07))
plt.annotate('  Reject Null Hypothesis.',(-8,0.07))
plt.show()

#### #Null hypothesis should be rejected and alternative hypothesis should be accepted. So, Zingaro is justified to think that unpolished stone is not suitable for printing.

#### 5.2 Is the mean hardness of the polished and unpolished stones the same?

#Compearing the mean hardness of the polished and unpolished stones 
Here we need to test the hardness of unpolished stone with polished stone. As per Zingaros believe unpolished stones may not be suitable for printing, so we can  formulate the hypothesis as, null hypothesis states that the mean hardness of 'Unpolished stones' and 'polished stones' are same, and the alternative hypothesis states that the mean hardness of 'Unpolished stones' and 'polished stones' are different.

Null hypothesis(H0) : Î¼p = Î¼u

Alternative Hypothesis(HA) : Î¼p â  Î¼u

#### #Here we need to conduct a Two-tail test as we are compering mean hardness for 'Unpolished stones' and 'polished stones'.

In [ ]:
t_statistic, p_value  =  stats.ttest_ind(df_Zingaro['Unpolished '],df_Zingaro['Treated and Polished'])
print('t_statistic :', t_statistic)
print('P_value :', p_value)

#### ## As we can see the p_value is less than the level of significance, so we can reject the null hypothesis and hence can conclude that the mean hardness of 'Unpolished stones' and 'polished stones' are different.

## Problem 6:

### Aquarius health club, one of the largest and most popular cross-fit gyms in the country has been advertising a rigorous program for body conditioning. The program is considered successful if the candidate is able to do more than 5 push-ups, as compared to when he/she enrolled in the program. Using the sample data provided can you conclude whether the program is successful? (Consider the level of Significance as 5%)

### Note that this is a problem of the paired-t-test. Since the claim is that the training will make a difference of more than 5, the null and alternative hypotheses must be formed accordingly.

In [2]:
#Load the Aquarius CSV data to notebook :
df_Aquarius = pd.read_csv('Aquarius_gym.csv')

In [3]:
#Basic View of the Data-set :
df_Aquarius.head(20).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Sr no.,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
Before,39,25,39,6,40,27,30,22,21,38,32,31,16,21,32,29,36,22,34,33
After,44,25,39,13,44,34,34,29,30,46,37,35,24,28,39,39,44,26,40,35

In [4]:
df_Aquarius.describe()

           Sr no.      Before       After
count  100.000000  100.000000  100.000000
mean    50.500000   26.940000   32.490000
std     29.011492    8.806357    8.779562
min      1.000000    3.000000   10.000000
25%     25.750000   21.750000   26.000000
50%     50.500000   28.000000   34.000000
75%     75.250000   32.250000   39.000000
max    100.000000   47.000000   51.000000

##### #Let's assume the candidates of Aquarius health club can do more than 5 push-ups.

##### A paired t-test is used when we are interested in the difference between two variables for the same subject.

Here we need to test the assumption where null hypothesis states that the candidates of Aquarius health club can do more than 5 push-ups. The alternative hypothesis states that the candidates of Aquarius health club fails to do more than 5 push-ups.

#### Hence we can frame the hypnothesis of mentioned paired t-test as with mean for before(Î¼b) and mean for after(Î¼a), where its a believe that the program will make a difference (Î¼b > Î¼a)  we need to test the alternate hypothesis as their are no difference. 

Null hypothesis (H0) : Î¼b - Î¼a >5

Alternative Hypothesis (HA) : Î¼b - Î¼a <=5

##### Here we need to consider significance level(Î±) = 0.05 as given in the question.

In [ ]:
#We use the scipy.stats.ttest_rel to calculate the T-test on TWO-TAILED samples of scores, 
##This function returns t statistic and two-tailed p value.
t_statistic, p_value  =  stats.ttest_rel(df_Aquarius['Before'],df_Aquarius['After'])
print('t_statistic :', t_statistic)

In [ ]:
# p_value < 0.05 => alternative hypothesis:
print ("*Paired two-sample t-test p-value=", p_value/2)

alpha_val = 0.05

if (p_value/2) < alpha_val:
    print('**We have enough evidence to reject the null hypothesis in favour of alternative hypothesis.') 
else:
    print('**We do not have enough evidence to reject the null hypothesis in favour of alternative hypothesis.')

#### From the test output, the p-value is less than 0.05. So, we reject the null hypothesis at 5% level of significance. 

#### #Conclusion : We have enough evidence to reject the null hypothesis in favour of alternative hypothesis,so we can conclude that the claim of  Aquarius health club training  program is unsuccessful, that the candidates of Aquarius health club fails to do more than 5 push-ups.

## Problem 7:
#### Dental implant data: The hardness of metal implant in dental cavities depends on multiple factors, such as the method of implant, the temperature at which the metal is treated, the alloy used as well as on the dentists who may favour one method above another and may work better in his/her favourite method. The response is the variable of interest.

In [6]:
#Load the  CSV data to notebook :
df_Dental = pd.read_excel('Dental_Hardness_data.xlsx')

In [7]:
df_Dental.describe()

,Dentist,Method,Alloy,Temp,Response,Unnamed: 5,Unnamed: 6
count,90.000000,90.000000,90.000000,90.000000,90.000000,0.0,0.0
mean,3.000000,2.000000,1.500000,1600.000000,741.777778,NaN,NaN
std,1.422136,0.821071,0.502801,82.107083,145.767845,NaN,NaN
min,1.000000,1.000000,1.000000,1500.000000,289.000000,NaN,NaN
25%,2.000000,1.000000,1.000000,1500.000000,698.000000,NaN,NaN
50%,3.000000,2.000000,1.500000,1600.000000,767.000000,NaN,NaN
75%,4.000000,3.000000,2.000000,1700.000000,824.000000,NaN,NaN
max,5.000000,3.000000,2.000000,1700.000000,1115.000000,NaN,NaN

#### 7.1 Test whether there is any difference among the dentists on the implant hardness. State the null and alternative hypotheses. Note that both types of alloys cannot be considered together. You must state the null and alternative hypotheses separately for the two types of alloys.?

We can frame Null Hypotheses as :

Null Hypotheses(H0): Î¼a = Î¼b

There is no difference :

Factor B: H0: Î¼a â  Î¼b

#### 7.2 Before the hypotheses may be tested, state the required assumptions. Are the assumptions fulfilled? Comment separately on both alloy types.?

#### 7.3 Irrespective of your conclusion in 2, we will continue with the testing procedure. What do you conclude regarding whether implant hardness depends on dentists? Clearly state your conclusion. If the null hypothesis is rejected, is it possible to identify which pairs of dentists differ?

#### 7.4 Now test whether there is any difference among the methods on the hardness of dental implant, separately for the two types of alloys. What are your conclusions? If the null hypothesis is rejected, is it possible to identify which pairs of methods differ?

#### 7.5 Now test whether there is any difference among the temperature levels on the hardness of dental implant, separately for the two types of alloys. What are your conclusions? If the null hypothesis is rejected, is it possible to identify which levels of temperatures differ?

#### 7.6 Consider the interaction effect of dentist and method and comment on the interaction plot, separately for the two types of alloys?

#### 7.7 Now consider the effect of both factors, dentist, and method, separately on each alloy. What do you conclude? Is it possible to identify which dentists are different, which methods are different, and which interaction levels are different?